/**导航栏css**/
.navigation {
    width: 1260px;
    height: 105px;
    padding-top: 10px;
    margin: 0 auto;
    background: url("/img/tab.png") no-repeat 30px 0;
    .logo {
        display: block;
        background: #ff4466 url("/img/logo.png") no-repeat 30px 20px;
        padding: 20px 30px;
        width: 125px;
        height: 65px;
    }
}