html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.count{
    font-size: 42px;
    color: red;
}
h1 {
    text-shadow: 0 0 100px rgba(0,0,0,.5);
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 2px;
    position: relative;
    box-shadow: 6px 3px 24px -4px rgba(0,0,0,0.75);
}
.container {
    width: 100%;
}

h6 {
    text-decoration: underline;
}

@import "../components/nav/nav";



